<nav class="navbar">
  <div class="logo">
    <a routerLink="/">CardStudio</a>
  </div>
  <div class="nav-links">
    <a routerLink="/cards/editor" routerLinkActive="active">Editor</a>
    <a routerLink="/cards/manager" routerLinkActive="active">Gestor de Barajas</a>
    <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    <a routerLink="/auth/register" routerLinkActive="active">Registro</a>
    <a routerLink="/visuals/profile" routerLinkActive="active">Perfil</a>
    <a routerLink="/logout" routerLinkActive="active">Logout</a>
  </div>
</nav>